:root {
    --url-of-background-movie-image: url("images/main/main6.jpg");
    --gradient-zero-opacity: rgba(10, 24, 40, 0);
    --gradient-one-opacity: rgba(10, 24, 40, 1);
    --essential-text-color: #EFFAFD;
    --secodedary-text-color: #a39573;
    --dark-background-color: #0a1828;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

*::-webkit-scrollbar-track {
    background: none;
}

body {
    margin: 0;  
    padding: 0;
    /* height: 200vh; */
    overflow-x: hidden;
    background-color: var(--gradient-one-opacity) !important;
}

.background-container {
    position: absolute;
    top: 72px;
    right: 0;
    height: 100vh;
    width: 60vw;
    z-index: -1;
    background:
        radial-gradient(var(--gradient-zero-opacity), var(--gradient-one-opacity)),
        var(--url-of-background-movie-image);
    background-repeat: no-repeat;
    background-size: 60vw 100vh;
    background-position: top 0px right 0;
    background-attachment: fixed;
    filter: blur(3px);
    -webkit-box-shadow: 197px -194px 154px -43px var(--gradient-one-opacity) inset;
    -moz-box-shadow: 197px -194px 154px -43px var(--gradient-one-opacity) inset;
    box-shadow: 197px -194px 154px -43px var(--gradient-one-opacity) inset;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    margin: 72px 2vw ;
    grid-template-columns: 4fr 4fr;
    justify-content: center;
    gap: 3vw;
}

.information {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    gap: 3vh;
}

.movie-title>img {
    height: 20vh;
    width: 30vw;
}

.movie-image > img{
    width: 300px;
    height: 500px;
}

.publish-info,
.imdb-image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 14px;
}

.imdb-image {
    gap: 5px;
}

.imdb-image>img {
    height: 20px;
    width: 35px;
}

#imdb-rating {
    display: inline-block;
}

#category {
    color: var(--secodedary-text-color);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 15px;
}

.watch-save {
    width: 70%;
    display: flex;
    gap: 1vw;
}

.watch-save>* {
    flex: 0.5;
}

.hide-save-or-saved-svg-image {
    display: none !important;
}

.watch-save button:hover {
    background-color: var(--essential-text-color)
}

button {
    background: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

svg {
    height: 24px;
    width: 24px;
}

button>svg {
    fill: var(--secodedary-text-color);
}

.play {
    display: flex;
    align-items: center;
    gap: 1vw;
    height: 6vh;
    background-color: var(--secodedary-text-color);
    color: var(--dark-background-color)
}

.play>svg {
    fill: var(--dark-background-color)
}

.descreption {
    width: 90%;
    word-wrap: break-word;
    font-size: 15px;
    line-height: 20px;
    max-height: 20vh;
    overflow-y: scroll;
}

.authors {
    width: 100%;
}

.authors table {
    margin-left: 1.7vw;
    border-collapse: separate;
    border-spacing: 10px;
}

.authors table tr td {
    font-size: 15px;
}



.more-movies {
    display: flex;
    flex-direction: column;
    gap: 8vh;
    width: 100vw;
    height: auto ;
    margin: 10vh 3vw;
}

.more-movies-container {
    white-space: nowrap;
    overflow-x: scroll;
    width: 100%;
}

.box {
    display: inline-block;
    width: 21vw;
    margin: 1vh 0.5vw;
}

.film-box>img {
    width: 90%;
    height: 300px;
    border-radius: 3px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s ease-in;
}

