:root {
  --essential-text-color: #EFFAFD;
  --secodedary-text-color: #a39573;
  --dark-background-color: #0a1828;
}


/* Firefox */
/* * {
  scrollbar-width: auto;
  scrollbar-color: #a39573 #ffffff;
} */

/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--dark-background-color)
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secodedary-text-color);
  border-radius: 10px;
}


* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins" , sans-serif;
}

body {
  display: none;
  background-color: var(--dark-background-color);
  color: var(--essential-text-color);
}

h4 {
  color: var(--essential-text-color);
}

h6 {
  color: var(--secodedary-text-color);
}

.film-box-lists {
  margin: 15vh 1vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  row-gap: 30px ;
}

.film-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.film-box>img {
  width: 250px;
  height: 310px;
  border-radius: 3px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s ease-in;
}

.film-box>img:hover {
  border: var(--secodedary-text-color) solid 2px;
}

@media (width < 1100px){
  .film-box-lists{
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1vw;
  }
  .film-box>img{
    width: 260px ;
    height: 330px;
  }
}

@media (width < 850px){
  .film-box-lists{
    margin-left: 3vw;
    margin-right: 3vw;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3vw;
  }
  .film-box>img{
    width: 280px;
    height: 350px;
  }
}

@media (width < 700px){
  .film-box>img{
    width: 260px;
    height: 320px;
  }
}

@media (width < 600px){
  .film-box-lists{
    grid-template-columns: repeat(1, 1fr);
  }
  .film-box>img{
    width: 320px;
    height: 350px;
  }
}
