:root {
	--essential-text-color: #EFFAFD;
	--secodedary-text-color: #a39573;
	--dark-background-color: #0A1828;
	--svg-color-fill: #202F40;
}

#menu {
	background: linear-gradient(to bottom, #000000, #0A1828);
	height: 70px;
	width: 100vw;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	transition: top 0.5s;
}

#menu .navbar-content {
	display: grid;
	/* grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr 0.5fr 0.5fr ; */
	grid-template-columns: 1fr 3fr 1fr 1fr 1fr 0.5fr;
	column-gap: 0.5vw;
	margin: 0 1vw;
	height: 100%;
	place-items: center;
}

@media (width < 850px) {
	#menu .navbar-content {
		/* grid-template-columns: 0.3fr 1.5fr 0.3fr 0.3fr ; */
		grid-template-columns: 0.3fr 1.5fr 0.3fr;
	}
}

.navbar-content>* {
	width: 100%;
}

#logo {
	width: 80%;
	height: 100%;
	display: grid;
	place-items: center;
	cursor: pointer;
}

#logo img {
	width: 100%;
	height: 40px;
	object-fit: cover;
}

#home {
	background-color: var(--secodedary-text-color);
	display: flex;
	justify-content: center;
	height: 38px;
	width: 38px;
	border-radius: 4px;
}

#home svg {
	fill: var(--svg-color-fill);
	width: 25px;
	height: 25px;
	display: flex;
	align-items: center;
}

#home button {
	background-color: var(--secodedary-text-color);
	border: none;
	cursor: pointer;
}

.hide-logo-or-home {
	display: none !important;
}




#menu a {
	display: block;
	color: var(--essential-text-color);
	line-height: 6vh;
}

#down-symbol::after {
	content: "\25BE";
	margin-left: 0.5vw;
}

#menu ul.sub-menus {
	display: none;
	height: auto;
	width: 14vw;
	overflow: hidden;
	background-color: rgba(10, 24, 40, 0.7);
	border-radius: 4px;
	position: absolute;
	z-index: 99;
}

#three-bar-content {
	right: 0;
}

#menu a:hover,
#menu ul.sub-menus a:hover {
	color: var(--secodedary-text-color);
	background: var(--essential-text-color);
}

#categories:hover ul.sub-menus {
	display: block;
}

.set-three-bar-drop-down-to-display-block {
	display: block !important;
}

.sbx {
	position: relative;
	width: 90%;
	height: 38px;
	white-space: nowrap;
	box-sizing: border-box;
}

.sbx__wrapper {
	width: 100%;
	height: 100%;
}

.sbx__input {
	-webkit-transition: box-shadow 0.4s ease, background 0.4s ease;
	transition: box-shadow 0.4s ease, background 0.4s ease;
	border: 0;
	border-radius: 4px;
	background: var(--essential-text-color);
	padding-right: 75px;
	padding-left: 11px;
	width: 100%;
	height: 100%;
	white-space: normal;
	font-size: 0.9rem !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.sbx__input::-webkit-search-decoration,
.sbx__input::-webkit-search-cancel-button,
.sbx__input::-webkit-search-results-button,
.sbx__input::-webkit-search-results-decoration {
	display: none;
}

.sbx__input:hover {
	box-shadow: inset 0 0 0 2px var(--secodedary-text-color);
}

.sbx__input:focus,
.sbx__input:active {
	outline: 0;
	box-shadow: inset 0 0 0 2px var(--secodedary-text-color);
}

.sbx__input::-webkit-input-placeholder,
.sbx__input::-moz-placeholder,
.sbx__input:-ms-input-placeholder,
.sbx__input::placeholder {
	color: #AAAAAA;
}

.sbx__submit {
	position: absolute;
	top: 0;
	right: 0;
	/* left: inherit; */
	border: 0;
	border-radius: 0 4px 4px 0;
	background-color: var(--secodedary-text-color);
	width: 42px;
	height: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.sbx__submit:hover,
.sbx__submit:active {
	cursor: pointer;
}

.sbx__submit:focus {
	outline: 0;
}

.sbx__submit svg {
	width: 21px;
	height: 21px;
	vertical-align: middle;
	fill: var(--svg-color-fill);
}

.sbx__reset {
	display: none;
	position: absolute;
	top: 9px;
	right: 50px;
	border: 0;
	background: none;
	cursor: pointer;
	font-size: inherit;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	fill: rgba(0, 0, 0, 0.5);
}

.sbx__reset:focus {
	outline: 0;
}

.sbx__reset svg {
	margin: 4px;
	vertical-align: middle;
	width: 13px;
	height: 13px;
}

.sbx__input:valid~.sbx__reset {
	display: block;
	-webkit-animation-name: sbx-reset-in;
	animation-name: sbx-reset-in;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
}

@-webkit-keyframes sbx-reset-in {
	0% {
		-webkit-transform: translateX(-40%);
		transform: translateX(-40%);
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes sbx-reset-in {
	0% {
		-webkit-transform: translateX(-40%);
		transform: translateX(-40%);
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}





#three-bar {
	font-size: 30px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 38px;
	height: 38px;
	border: none;
	cursor: pointer;
	color: var(--svg-color-fill);
}

#three-bar-content {
	position: fixed !important;
	top: 0;
	background-color: rgba(0, 0, 0, 1) !important;
	width: 100vw !important;
	height: 100vh;
	overflow-y: auto;
	display: none;
}

.animated-three-bar-show-up {
	animation-name: animate-threebar;
	animation-duration: 0.7s;
}

@keyframes animate-threebar {
	from {
		width: 0;
	}

	to {
		width: 100vw;
	}
}

#three-bar-items {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	justify-content: start;
	align-items: center;
	gap: 10px;
}

#three-bar-items>* {
	width: 60%;
	border-radius: 4px;
}

.cancel-btn {
	position: absolute;
	top: 3vh;
	right: 5vw;
	height: 38px;
	width: 38px !important;
	background-color: var(--secodedary-text-color);
	color: var(--dark-background-color);
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
}